html {
  background-color:#44466b;
}
body {
    color: #ffffff;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    position:relative;
}
p {
    text-align:center;
    font-weight: 300;
}
h1 {
    text-align:center;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

h2 {
    text-align:center;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
}
h3 {
    text-align:center;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
}
ul {
  list-style-type: none;
      margin: 0;
      padding: 0;
      width: 25%;
      background-color: #44466b;
      height: 100%;
      position: fixed;
      overflow: auto;
      border-style: ridge;
}

li a{
  display: block;
  color: #ffffff
  padding: 8px 16px;
  text-decoration: none;
  color:inherit;
}
li a:hover{
    background-color: #515151;
    color: white;
}

.prose {
  font-style: italic;
}
.extreme{
  text-shadow: 0 0 30px purple;
}
.content{
  text-shadow: 0 0 20px red;
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
.navzone{
  font-size: 18px;
  text-shadow: 0 0 15px orange;
}

#tehlulz {
  font-family: "Comic Sans MS", cursive, sans-serif
}
